.panel-light{
    background-color: white;
    color:greenyellow;    
}

.panel-dark{
    background-color:yellowgreen;
    color:white;
}

.button-light{
    background-color: lightgray;
    color: aqua;   
}
 
.button-dark{
    background-color: darkgray;
    color: white;
}